@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;   
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

/*nth-child permet de selection un element enfant de notre choix
le chiffre entre parentaise definis l'élement enfant selectionné.*/
.photographer_section article article :nth-child(2) {
    font-size: 0.625em;
    color: black;
    margin: 3px 0 0 0;
}

.photographer_section article article p {
    font-size: 0.5625em;
    color: #757575;
    margin: 3px 0 0 0;
  }